name: Java CI with Javadoc
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Build and verify
        run: mvn --batch-mode --update-snapshots verify

      - name: Upload Javadoc zip file
        uses: actions/upload-artifact@v2
        with:
          name: javadoc
          path: target/apidocs

      - name: Upload jar file
        uses: actions/upload-artifact@v2
        with:
          name: jar
          path: target/BuildInfoApp-0.[0-9].jar
